/* *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37em;
}

#add-event{
    display: none;
    height: 55%;
    width: 20%;
    padding: 0.7em;
    border: 0.1em solid black;
    overflow: auto;
    z-index: 1;
    position: absolute;
    /* display: grid; */
    grid-template-rows: 2fr repeat(3, 1fr) 2fr 2fr;
    background-color: rgb(253, 253, 253);
    border-radius: 2%;
    box-shadow: 0 0 1em darkgreen;
}

#add-event *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add-event div input, #add-event div button{
    font-weight: bold;
    color: rgb(112, 112, 112);
    align-self: center;
}

#title-div{
    padding-bottom: 0.5em;
}

#title{
    height: 90%;
    width: 97%;
    font-size: 2em;
    text-align: center;
}

#beg-date-div{
    display: flex;
    justify-content: space-evenly;
}

#beg-date{
    width: 68%;
    text-align: center;
    font-size: 1em;
    color: black;
    border: 0;
}

#beg-date:hover{
    background-color: rgba(73, 115, 255, 0.151);
    border-radius: 1em;
}

#beg-date:focus{
    outline: none;
}

#beg-time{
    width: 28%;
}

#end-date{
    width: 70%;
}

#end-time{
    width: 28%;
}

#end-date,#end-time{
    align-self: center;
}

#address{
    width: 100%;
}

#address-div{
    display: flex;
    align-items : center;
}

#desc-div{
    display: flex;
    align-items : center;
}

#description{
    width: 100%;
}

#buttons-div{
    display: flex;
    justify-content: space-around;
}

#buttons-div button{
    background: none;
    border: none;
    padding: 0;
}

#buttons-div button img{
    padding: 0;
    border-radius: 50%;
}

#buttons-div button:hover{
    cursor: pointer;
}

#buttons-div button img:active{
    border: 1px solid black;
}

#cancel{
    height: 70%;
    width: 30%;
}

#add{
    height: 70%;
    width: 30%;
}