#add-event{
    display: none;
    height: 55%;
    width: 20%;
    padding: 0.7em;
    border: 0.1em solid black;
    overflow: auto;
    z-index: 1;
    position: absolute;
    /* display: grid; */
    /* grid-template-rows: 2fr repeat(3, 1fr) 2fr 2fr; */
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
    background-color: rgb(253, 253, 253);
    border-radius: 2%;
    box-shadow: 0 0 1em darkgreen;
}

#add-event *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add-event div input, #add-event div button{
    font-weight: bold;
    color: rgb(112, 112, 112);
    align-self: center;
}


.div-after{
    display: none;
    z-index: 2;
    /* position: absolute; */
    width: 100%;
    justify-content: space-between;
    padding-right: 0;
    
}

.input-after{
    width: 85%;
}

.cancel-after{
    background-color: red;
    color: white !important;
    width: 10%;
    border-radius: 20%;
    text-align: center;
    border-left: 0.5em;
}

#desc-after{
    height: 100%;
}

#title{
    height: 90%;
    width: 97%;
    font-size: 2em;
    text-align: center;
}

#date-div{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5em;
    margin-top: 1em;
}

#beg-date-div{
    display: flex;
    align-items: center;
    width: 100%;
}

#beg-year{
    width: 33%;
    text-align: center;
}

#beg-time-div{
    display: flex;
    align-items: center;
    width: 100%;
}

#beg-time{
    width: 100%;
}

#beg-time-div .cancel-after{
    width: 22%;
}

#end-date-div{
    display: flex;
    align-items: center;
    width: 100%;
}

#end-year{
    width: 40%;
}

#end-date-div .cancel-after{
    width: 15%;
}

#end-date{
    width: 86%;
}

#end-time-div{
    display: flex;
    align-items: center;
}

#end-time-div .cancel-after{
    width: 22%;
}

#end-time{
    width: 100%;
}

#address{
    width: 100%;
}

#address-div{
    display: flex;
    align-items : center;
}

#desc-div{
    display: flex;
    align-items : center;
}

#description{
    width: 100%;
}

#buttons-div{
    display: flex;
    justify-content: space-around;
}

#buttons-div button{
    background: none;
    border: none;
    padding: 0;
}

#buttons-div button img{
    padding: 0;
    border-radius: 50%;
    opacity: 80%;
}

#buttons-div button:hover{
    cursor: pointer;
}

#buttons-div button img:active{
    border: 1px solid black;
}

#cancel{
    height: 70%;
    width: 30%;
}

#add{
    height: 70%;
    width: 30%;
}