*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37em;
}

#calendar{
    display: grid;
    overflow: auto;
    grid-template-rows: 0.2fr 1fr;
    height: 90%;
    width: 65%;
    border-radius: 1.5%;
    border: 1px solid darkblue;
    box-shadow: 0 0 1em darkblue;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;
    border-bottom: 1px solid darkblue;
}

#today, #events{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(3, 3, 177, 70%);
}

.forward-backward{
    font-size: 250%;
    padding-bottom: 1.2em;
    color: rgb(3, 3, 177);
}

#nav input[type="button"]{
    height: 60%;
    background-color: white;
    border: 0;
    border-radius: 15%;
}

#nav input[type="button"]:hover{
    background-color: rgba(0, 38, 253, 0.2);
    cursor: pointer;
}

#nav input[type="button"]:active{
    background-color: rgba(0, 38, 253, 0.3);
}

#label-date{
    font-size: 2em;
}

#grid{
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    border-radius: 0 0 2em 2em;
    border-top: 1px solid darkblue;
}

#week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.95em;
}

#week div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#month{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#month div{
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    text-indent: 0.3em;
    padding-top: 0.2em;
    border: 0.01px solid rgba(0, 0, 0, 0.13);
}

#month div:hover{
    background-color: rgba(0, 38, 253, 0.2);
    border-color: darkgray;
    cursor: pointer;
}

#month div:active{
    border-color: black;
}